.upload-button{
	font-family: sans-serif;
}
.upload-button {
	border: 2px solid lightgrey;
	border-radius: 8px;
	text-align: left;
	padding: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.upload-button.dragging {
	background-color: #f0f0f0;
}
.upload-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.error-message{
	font-size: 12px;
}
.icon {
	font-size: 24px;
	margin-bottom: 0px;
}
.upload-text {
	font-size: 16px;
	font-weight: bold;
	color: red;
	margin-bottom: 4px;
}
.sub-text {
	font-size: 12px;
	color: grey;
}
.progress-container {
	width: 100%;
	position: relative;
}
.progress-bar {
	height: 8px;
	border-radius: 4px;
	transition: width 0.3s ease;
}
.file-info {
	font-size: 12px;
	margin-top: 4px;
}
.uploaded-file {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.file-size{
	font-size: 12px;
	color: grey;
}
.uploaded-file-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.file-icon {
	margin-right: 8px;
}
.file-details {
	font-size: 14px;
}
.delete-btn {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
	color: red;
}
